<!DOCTYPE html>
<html  th:inline="text">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <title>测试thymeleaf和国际化</title>
</head>
<body>
    <div class="header">
        <div class="top">
            <h1><span th:text="#{app.name}">US</span></h1></div>
    </div>

    <div class="main">
        测试thymeleaf和国际化:this a thymeleaf模板页面
    </div>

</body>


















</html>